h2 {
  font-size: 24px
}
/*indicators*/
.carousel-indicators_indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 79%;
    margin-right: 5px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;

}
.carousel-indicators_indicators {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators_indicators li {
  background: #C4C4C4;
  top: 70px;
}
.bottom_line {
  border-bottom: 2px solid red;
  position: absolute;
  width: 900px;
  top: 350px;
  left: 100px  
}



.carousel-inner__one {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

      /*img,effects and text seting */
.image_margin {
  margin: 15px 0px 15px 15px
}
.border_botton {
  border-bottom: 1px solid #C4C4C4;
  width: 125%
}
.text__p_one_one {
  margin: -140px 0px 0px 300px
}
.text__p {
  margin-right: 10px
}
#effect_hover:hover {
  box-shadow: 8px 8px 8px 0px rgba(140, 153, 152, 1);
border-radius: 360%;
}
.efect-hover:hover {
    color:red;
    transition-duration: 5s;
    transition-timing-function:ease-in; 
}

            /*carousel-setings*/
.carousel-control-next-icon_icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;

}
.carousel-control-prev_one {
    left: -120px ;
    position: relative;
    top: -120px
}
.carousel-control-next_one,.carousel-control-prev_one {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #809998;
    text-align: center;
    opacity: 9;
}
.carousel-control-prev_one:hover {
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 14.28%, rgba(255, 255, 255, 0) 16.06%, rgba(255, 255, 255, 0) 83.61%, rgba(255, 255, 255, 0.610294) 85.81%, #FFFFFF 100%)
}
.carousel-control-next_one {
    left: 1070px;
}
.carousel-control-next_one:hover {
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 14.28%, rgba(255, 255, 255, 0) 16.06%, rgba(255, 255, 255, 0) 83.61%, rgba(255, 255, 255, 0.610294) 85.81%, #FFFFFF 100%)
}
#a:hover {
  text-decoration: none;
  color: blue;
}
#a {
  font-size: 24px;
  text-decoration: none;
}
h2 {
  font-size: 24px
}
/*indicators*/
.carousel-indicators_indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 79%;
    margin-right: 5px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;

}
.carousel-indicators_indicators {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators_indicators li {
  background: #C4C4C4;
  top: 70px;
}
.bottom_line {
  border-bottom: 2px solid red;
  position: absolute;
  width: 900px;
  top: 350px;
  left: 100px  
}



.carousel-inner__one {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

      /*img,effects and text seting */
.image_margin {
  margin: 15px 0px 15px 15px
}
.border_botton {
  border-bottom: 1px solid #C4C4C4;
  width: 125%
}
.text__p_one_one {
  margin: -140px 0px 0px 300px
}
.text__p {
  margin-right: 10px
}
#effect_hover:hover {
  box-shadow: 8px 8px 8px 0px rgba(140, 153, 152, 1);
border-radius: 360%;
}
.efect-hover:hover {
    color:red;
    transition-duration: 5s;
    transition-timing-function:ease-in; 
}

            /*carousel-setings*/
.carousel-control-next-icon_icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;

}
.carousel-control-prev_one {
    left: -120px ;
    position: relative;
    top: -120px
}
.carousel-control-next_one,.carousel-control-prev_one {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #809998;
    text-align: center;
    opacity: 9;
}
.carousel-control-prev_one:hover {
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 14.28%, rgba(255, 255, 255, 0) 16.06%, rgba(255, 255, 255, 0) 83.61%, rgba(255, 255, 255, 0.610294) 85.81%, #FFFFFF 100%)
}
.carousel-control-next_one {
    left: 1070px;
}
.carousel-control-next_one:hover {
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 14.28%, rgba(255, 255, 255, 0) 16.06%, rgba(255, 255, 255, 0) 83.61%, rgba(255, 255, 255, 0.610294) 85.81%, #FFFFFF 100%)
}
#a:hover {
  text-decoration: none;
  color: blue;
}
#a {
  font-size: 24px;
  text-decoration: none;
}