/* For laptops and desktops - screens equal to or greater than 1200px wide */
@media (max-width: 1200px){
	
}

/* For small laptops - screens equal to or greater than 992px wide */
@media (max-width: 992px){
	.footer__intro{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.footer__nav{
		text-align: center;
		border: none;
	}

	.way_up{
		margin-top: 20px;
	}

	.author{
		margin-top: 50px;
	}

	.credo{
		margin: 10px auto 20px auto;
	}

	.callback{
		margin: 100px;
	}

	#desctop_contacts, .nav{
		display: none;
	}

	.fa-bars{
		display: block;
	}

	.portfolio__item{
		text-align: center;
	}
}

/* For tablets - screens equal to or greater than 768px wide */
@media (max-width: 768px){
	.blog__item, .info__title{
		flex-direction: column;
	}

	.blog__item{
		padding: 10px !important;
	}
}

/* For phones - screens less than 768px wide */
@media (max-width: 576px){
	.credo{
		width: auto
	}

	.callback{
		margin-left: 0;
		margin-right: 0;
	}

	.faq_btn{
		flex-direction: column;
	}

	.caret{
		margin: 0 auto;
	}
}